<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SyllabusIndex.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Syllabus - T", "ViewAllTSyllabus", "Teacher")</li>
                    <li>@Html.ActionLink("Syllabus - Ch", "ViewAllChSyllabus", "Chairman")</li>
                    <li>@Html.ActionLink("Bibliography", "Bibliography", "Teacher")</li>
                    <li>@Html.ActionLink("Add Classroom Policy", "ClassroomPolicy", "Teacher")</li>
                    <li>@Html.ActionLink("Institutional Graduate Attributes", "InstGradAttrb", "InstGradAttrb")</li>
                    <li>@Html.ActionLink("Software Used", "SoftwareUsed", "SoftwareUsed")</li>
                    <li>@Html.ActionLink("Learning Plan", "LearningPlan", "LearningPlan")</li>
                    <li>@Html.ActionLink("Testing test Plan", "LearningPlan", "LearningPlan")</li>
                    <li>@Html.ActionLink("Revision History", "revision_history", "Teacher")</li>
                    <li>@Html.ActionLink("Course Outcomes", "course_outcomes", "Teacher")</li>
                    <li>@Html.ActionLink("Grading System", "grading_system", "Teacher")</li>
                    <li>@Html.ActionLink("Title of Syllabus", "title_syllabus", "Teacher")</li>
                    <li>@Html.ActionLink("Deliverable O and R", "outputs_requirements", "Teacher")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/TeacherScript.js")
    @RenderSection("scripts", required: false)
</body>
</html>
