@{
    ViewBag.Title = "Bibliography";
    Layout = "~/Views/Shared/_SideBar.cshtml";
    var books = (List<Book>)ViewData["ListofBooks"];
    var webs = (List<Online_Sources>)ViewData["ListofOS"];
}

<br />
<br />
<h2>Bibliography</h2>

<div class="row">
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Books')">Books</button>
        <button class="tablinks" onclick="openTab(event, 'OnlineSources')">Online Resources</button>
    </div>
</div>


<div id="Books" class="tabcontent" style="height:800px;overflow-y:auto">
    <h2 style="text-align:left; margin-left:80px">Book Information</h2>
    <div class="row" style="margin-left: 20%;margin-right: 20%;">
        <form method="post" action="../Syllabus/UpdateBooks">
            <input type="hidden" class="form-control bookInput" id="bookID" name="BookID" readonly>
            <div class="col-md-5">
                <input type="text" class="form-control bookInput" id="callNumber" name="CallNumber" placeholder="Call Number" required><br />
                <input type="text" class="form-control bookInput" id="bookTitle" name="Title" placeholder="Title" required>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control bookInput" id="bookAuthors" name="Author" placeholder="Author/s" required><br />
                <input type="text" class="form-control bookInput" id="bookYear" name="Year" placeholder="Year" required>
            </div>
            <div class="col-md-2" style="margin-top:25px;">
                <input type="submit" id="bookBtn" class="btn btn-success" value="Add Row">
            </div>
        </form>
    </div>
    <br /><br />
    <div class="wrapper">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <table id="BooksBibTable">
                <tr>
                    <th colspan="5" class="text-center">Books</th>
                </tr>
                <tr>
                    <th class="BibTH" style="width:150px">Call Number</th>
                    <th class="BibTH" style="width:300px">Title</th>
                    <th class="BibTH" style="width:200px">Author/s</th>
                    <th class="BibTH">Year</th>
                    <th class="BibTH" style="width:150px">Options</th>
                </tr>
                @{
                    foreach (var item in books)
                    {
                        <tr class="del">
                            <td class="BibTD" hidden>@item.book_id</td>
                            <td class="BibTD">@item.callNumber</td>
                            <td class="BibTD">@item.title</td>
                            <td class="BibTD">@item.author</td>
                            <td class="BibTD">@item.year</td>
                            <td class="BibTD">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-warning editbtn"><span class="glyphicon glyphicon-edit"></span></button>
                                    <a type="submit" href="../Syllabus/DeleteBook?BookID=@item.book_id" class="btn btn-danger delbtn"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div id="OnlineSources" class="tabcontent" style="height:800px;overflow-y:auto">
    <h2 style="text-align:left; margin-left:80px">Web Source</h2>
    <div class="row" style="margin-left: 20%;margin-right: 20%;">
        <form method="post" action="../Syllabus/UpdateWebResources">
            <input type="hidden" class="form-control bookInput" id="webID" name="WebID" readonly>
            <div class="col-md-5">
                <input type="text" class="form-control bookInput" id="webpageName" placeholder="Webpage">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control bookInput" id="webpageLink" placeholder="Link">
            </div>
            <div class="col-md-2">
                <input type="submit" id="webBtn" class="btn btn-success" value="Add Row">
            </div>
        </form>
    </div>
    <br /><br />
    <div class="wrapper text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <table id="OnlineBibTable">
                <tr>
                    <th colspan="3" class="text-center BibTH">Online Sources</th>
                </tr>
                <tr>
                    <th class="BibTH" style="width:150px">Webpage</th>
                    <th class="BibTH" style="width:300px">Link</th>
                    <th class="BibTH" style="width:150px">Options</th>
                </tr>
                @{
                    foreach (var web in webs)
                    {
                        <tr class="del">
                            <td class="BibTD" hidden>@web.onlineSource_ID</td>
                            <td class="BibTD">@web.webpageName</td>
                            <td class="BibTD">@web.weblink</td>
                            <td class="BibTD">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-warning editbtn_web"><span class="glyphicon glyphicon-edit"></span></button>
                                    <a type="submit" href="../Syllabus/DeleteOnlineResource?WebID=@web.onlineSource_ID" class="btn btn-danger delbtn_web"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>







