
@{
    ViewBag.Title = "revision_history";
    Layout = "~/Views/Shared/_SideBar.cshtml";
    var revisions = (List<Revision>)ViewData["ListOfRevisions"];
}
<h2>revision_history</h2>
<style>
    table, th, td {
        border: 1px solid black;
    }

    td {
        text-align: center;
    }
</style>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



    <div class="container">
        <form method="post" action="insert_revisionHistory">
            <table id="myTable" class=" table revision-list">

                <thead>
                    <tr>
                        <td>Version</td>
                        <td>Items</td>
                        <td>Revised By</td>
                        <td>Revision Date</td>
                        <td>Approved By</td>
                        <td>Approved Date</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in revisions)
                     {
                <tr>
                    <td class="col-sm-1">
                        @item.versionNum
                    </td>
                    <td class="col-sm-2">
                        @item.fieldsRevised
                    </td>
                    <td class="col-sm-2">
                        @item.revisedBy
                    </td>
                    <td class="col-sm-2">
                        @item.dateRevised
                    </td>
                    <td class="col-sm-2">
                        @item.approvedBy
                    </td>
                    <td class="col-sm-2">
                        @item.approvedDate
                    </td>
                </tr>
                        }
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            <br />
            <br />
            <button type="submit" class="btn btn-default" value="Add Row">Add Row</button>
        </form>
    </div>



