
@{
    ViewBag.Title = "ProgramObj";
    var details = (List<Core_Value>)ViewData["cores"];
    var proEdu = (List<Program_Educational_Objs>)ViewData["listOfProEdu"];
}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 5px solid #dddddd;
        text-align: left;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h2>Add Program Objectives</h2>
<h2>Add Program Objectives</h2>


<form method="post" class="form-inline" action="../Chairman/ProgramEduObj">
    
           <input type="text" class="form-control" name="code" placeholder="Code" required="required" />
            <textarea rows="4" cols="50"class="form-control" name="desc" placeholder="Description here..."></textarea>
             <select name="status" class="form-control">
                    @foreach (var names in details)
                    {
                        int count = 0;
                        count++;
                        <option>@names.name</option>
                    }
                </select>

    <input type="submit" class="btn btn-success" value="Submit">
</form>

<br>
<br>

<table>
    <tr>
        <th>Code</th>
        <th>Objectives</th>
        <th>Core Value</th>
        <th>Option</th>
    </tr>
    @foreach (var names in proEdu)
    {
        int count = 0;
        count++;
    <tr id="unique">
        <th>@names.codeName</th>
        <th>@names.objectives</th>

        @foreach (var styles in details)
    {
        
        count++;
        if (@names.coreValue_FK == styles.coreValue_ID)
        {
            <th>@styles.name</th>
    }
}
            <th id="unique2">
                <a href="DeleteThings?ids=@names.programEduOutcome_ID">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                </a>
                <a href="PassToUpdate?ids=@names.programEduOutcome_ID">
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
                </a>
            </th>
        
    </tr>
    }
</table>







