<style>
    pre {
        background-color: #ffffff;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height:1.5;
    }
</style>
@{
    ViewBag.Title = "LearningPlan";
    Layout = "~/Views/Shared/_SideBar.cshtml";
    var core_LearningPList = (List<DCIS_Syllabus.Models.LearningPlan>)ViewData["LearningPlanList"];
}

<h2>Learning Plan</h2>
<div class="container">
    <div class="row">
        <div>
            <a href="LearningPlanAdd">
                <input type="button" class=" btn btn-success" value="Add Row">
            </a>
        </div>
    </div>
</div>
<br />
<div class="wrapper">
    <table id="LearningPlanTable" class="table-bordered">
        <thead>
            <tr>
                <th class="text-center learningPlan" rowspan="2">Learning Outcome</th>
                <th class="text-center learningPlan" rowspan="2">No. of Hours</th>
                <th class="text-center learningPlan" rowspan="2">CO Addressed</th>
                <th class="text-center learningPlan" rowspan="2">Topics</th>
                <th class="text-center learningPlan" colspan="2">Teaching-Learning Activities</th>
                <th class="text-center learningPlan" rowspan="2">Assessment Activities</th>
                <th class="text-center learningPlan" rowspan="2">Status</th>
            </tr>
            <tr>
                <th>Teacher Activity</th>
                <th>Learner Activity</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var totalHrs = 0;
                <tr>
                    <td class="text-center" colspan="8">Pre-Midterm</td>
                </tr>
                foreach (var lp in core_LearningPList)
                {
                    if (lp.QuarterName == "Pre-Midterm")
                    {
                        totalHrs += @lp.hrs;
                    <tr>
                        <td class="learningPlan">@lp.LODesc</td>
                        <td class="text-center learningPlan">@lp.hrs hr/s.</td>
                        <td class="text-center learningPlan">N/A</td>
                        <td class="learningPlan">@lp.topics</td>
                        <td class="learningPlan">@lp.teacherAct</td>
                        <td class="learningPlan">@lp.learnerAct</td>
                        <td class="text-center learningPlan">
                            @{ 
                                if (@lp.assessAct == null){
                                    <pre>N/A</pre>
                                }else{
                                    <pre>@lp.assessAct</pre>
                                }
                            }

                        </td>
                        <td class="text-center learningPlan">
                            <a href="../LearningPlan/LearningPlanUpdate?lpId=@lp.LearningId">
                                <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="../LearningPlan/LearningPlanDelete?lpId=@lp.LearningId">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                            </a>
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <td class="text-center" colspan="8">Midterm</td>
                </tr>
                foreach (var lp in core_LearningPList)
                {
                    if (lp.QuarterName == "Midterm")
                    {
                        totalHrs += @lp.hrs;
                    <tr>
                        <td class="learningPlan">@lp.LODesc</td>
                        <td class="text-center learningPlan">@lp.hrs hr/s.</td>
                        <td class="text-center learningPlan">N/A</td>
                        <td class="learningPlan">@lp.topics</td>
                        <td class="learningPlan">@lp.teacherAct</td>
                        <td class="learningPlan">@lp.learnerAct</td>
                        <td class="text-center learningPlan">
                            @{ 
                                if (@lp.assessAct == null){
                                    <pre>N/A</pre>
                                }else{
                                    <pre>@lp.assessAct</pre>
                                }
                            }

                        </td>
                        <td class="text-center learningPlan">
                            <a href="../LearningPlan/LearningPlanUpdate?lpId=@lp.LearningId">
                                <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="../LearningPlan/LearningPlanDelete?lpId=@lp.LearningId">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                            </a>
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <td class="text-center" colspan="8">Pre-Finals</td>
                </tr>
                foreach (var lp in core_LearningPList)
                {
                    if (lp.QuarterName == "Pre-Finals")
                    {
                        totalHrs += @lp.hrs;
                    <tr>
                        <td class="learningPlan">@lp.LODesc</td>
                        <td class="text-center learningPlan">@lp.hrs hr/s.</td>
                        <td class="text-center learningPlan">N/A</td>
                        <td class="learningPlan">@lp.topics</td>
                        <td class="learningPlan">@lp.teacherAct</td>
                        <td class="learningPlan">@lp.learnerAct</td>
                        <td class="text-center learningPlan">
                            @{ 
                                if (@lp.assessAct == null){
                                    <pre>N/A</pre>
                                }else{
                                    <pre>@lp.assessAct</pre>
                                }
                            }

                        </td>
                        <td class="text-center learningPlan">
                            <a href="../LearningPlan/LearningPlanUpdate?lpId=@lp.LearningId">
                                <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="../LearningPlan/LearningPlanDelete?lpId=@lp.LearningId">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                            </a>
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <td class="text-center" colspan="8">Finals</td>
                </tr>
                foreach (var lp in core_LearningPList)
                {
                    if (lp.QuarterName == "Finals")
                    {
                        totalHrs += @lp.hrs;
                    <tr>
                        <td class="learningPlan"><pre>@lp.LODesc</pre></td>
                        <td class="text-center learningPlan"><pre>@lp.hrs hr/s.</pre></td>
                        @*retrieve CO*@
                        <td class="text-center learningPlan">N/A</td>/td>
                        <td class="learningPlan"><pre>@lp.topics</pre></td>
                        <td class="learningPlan"><pre>@lp.teacherAct</pre></td>
                        <td class="learningPlan"><pre>@lp.learnerAct</pre></td>
                        <td class="text-center learningPlan">
                            @{ 
                                if (@lp.assessAct == null){
                                    <pre>N/A</pre>
                                }else{
                                    <pre>@lp.assessAct</pre>
                                }
                            }

                        </td>
                        <td class="text-center learningPlan">
                            <a href="../LearningPlan/LearningPlanUpdate?lpId=@lp.LearningId">
                                <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="../LearningPlan/LearningPlanDelete?lpId=@lp.LearningId">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                            </a>
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <th>Total</th>
                    <th class="text-center">@totalHrs hr/s.</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
             }
        </tbody>
    </table>
    <p><i>* 10.0 hours are allotted for major exams and output periodic assessments.</i></p>
</div>
