@model IEnumerable<DCIS_Syllabus.Active_Values>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SideBar.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.columnName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.programOutcomeAbbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activeStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Outcomes.codeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.columnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.programOutcomeAbbr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activeStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_Outcomes.codeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.activeValues_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.activeValues_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.activeValues_ID })
        </td>
    </tr>
}

</table>
